@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #fff;
  --first-color-light: #596481;
  --white-color: #f7f6fb;
  --active-color: #0d6efd;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--first-color-light);
}
.nav_logo-name {
  color: var(--first-color-light);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  padding-bottom: 1rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--active-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--first-color-light);
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: 300px;
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 232px);
  }
}

/*  */
nav ul li.active a {
  color: var(--active-color);
}

.feat-show {
  transition: all 0.5s;
}

nav ul li.active ul {
  transition: all 0.5s;
}
nav ul ul {
  position: static;
  display: none;
}
nav ul.show {
  display: block;
  transition: all 0.5s;
}

nav ul ul li {
  border-top: none;
}
nav ul ul li a {
  /* color: #e6e6e6; */
  margin-left: 20px;
}
nav ul li.active ul li a {
  color: #e6e6e6;
}
.nav_name {
  color: var(--first-color-light);
}
.last-children {
  margin-left: 20px;
}
.last-children li a {
  border-left: 1px solid #b2d0f2;
}
/* nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 15px;
  transition: transform 0.4s;
} */
/* nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
} */
