.input-form {
  padding: 15px;
  color: #596481;
  border-color: #dbe0e6 !important;
  border-radius: 0.375rem !important;
}

.divider {
  border-bottom: 2px solid #efefef;
}
.ck-editor__editable[role="textbox"] {
  /* Editing area */
  min-height: 200px;
}
.form-select {
  padding-top: 1.625rem !important;
  padding-bottom: 0.625rem !important;
}
.select2-selection {
  height: 58px !important;
  border-radius: 0.375rem !important;
  border-color: #dbe0e6 !important;
}
.selection,
.select2 {
  width: 100% !important;
}
.select2-selection__choice,
.select2-selection__rendered {
  margin-top: 28px !important;
}
